.yellow-color {
    color: #D48404 !important;
}

.blue-color {
    color: #0463DF;
}

.green-color {
    color: #4E8B4E;
}

.red-color {
    color: #DF0404;
}

.bgyellow-color {
    color: #FFF1C5 !important;
}

.bgblue-color {
    color: #C5E3FF;
}

.bggreen-color {
    color: #C5FFC5;
}

.bgred-color {
    color: #FFC5C5;
}
.gray-color{
    color: #B5B7C0;
}
