*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Popins-bold';
    src: url('../assets/Poppins-Bold.ttf'),


}

@font-face {
    font-family: 'Popins-light';
    src: url('../assets/Poppins-Light.ttf'),


}

@font-face {
    font-family: 'Popins-medium';
    src: url('../assets/Poppins-Medium.ttf'),


}
.globe-about-main{
    padding-top: 4%;
}

.Gradientlogo{
    width: 20%;
}
.about-global{
    font-family: 'Popins-medium';
    font-size: 2.5vw;
    margin-top: 37px;
    margin-bottom: 0;
}
.about-dubai{
    font-family: 'Popins-bold';
    font-size: 2.5vw;

}
.map-img{
    width: 100%;
   
}
.about-text-below-map{   
     background: linear-gradient(to left, #006CFF, #FFFF00); 
     
}
.about-text-below-m, .first-para{
    font-family: 'Popins-medium';
    font-size: 1.2vw;
    margin-bottom: 0;
   
}
.about-text-below-m, .second-para{
    font-family: 'Popins-bold';
    font-size: 1.2vw;
    margin-bottom: 0;
    
}



/* css of AboutKnow component start here
css of AboutKnow component start here
css of AboutKnow component start here */
.about-main{
    background: linear-gradient(to left, #E2F3FF, #FFFFFF);
    padding-top: 5%;
    padding-bottom: 5%;

}

.about-want-to-know{
    font-family: 'Popins-medium';
    font-size: 1vw;
    color: #006CFF;
}
.about-heading{
    font-family: 'Popins-bold';
    font-size: 2vw;
    
}
.about-team{
    font-family: 'Popins-medium';
    font-size: calc(0.9vw + 1px); 
    color: #555756;
    
}
.about-hr {
    height: 5px; 
  border: none;
  background: linear-gradient(to left, #006CFF, #FFFF00);
}
.about-vision{
    font-family: 'Popins-bold';
    font-size: calc(1vw + 1px);
    margin-bottom: 1%;
}


@media (max-width:748px) {
    .about-team , .about-want-to-know{
        
        font-size: .5rem; 
       text-align: center;
        
    }
    .about-heading,.about-vision{
        
        font-size: 0.5rem;
       text-align: center;
    }
    .frezone-first-button{
        display: flex;
        justify-content: center !important;
    }
}





.about-calc{
    font-family: 'Popins-medium';
    font-size: 1vw;
   
}

/* css of WeAreBiz component starts here
css of WeAreBiz component starts here
css of WeAreBiz component starts here */

.wearebiz-para-div{
    background: linear-gradient(to left, #006CFF, #FFFF00);
    
}
.wearebiz-para{
    font-family: Popins-medium;
    font-size: 2vw;
    margin-bottom: 0%;
}
.wearebiz-span{
    font-family: Popins-bold;
}