* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Popins-bold';
    src: url('../assets/Poppins-Bold.ttf'),


}

@font-face {
    font-family: 'Popins-light';
    src: url('../assets/Poppins-Light.ttf'),


}

@font-face {
    font-family: 'Popins-medium';
    src: url('../assets/Poppins-Medium.ttf'),


}

.globe-about-main {
    padding-top: 4%;
}

.Gradientlogo {
    width: 20%;
}

.about-global {
    font-family: 'Popins-medium';
    font-size: clamp(30px, 4vw, 50px);
    margin-top: 37px;
    margin-bottom: 0;
}

.about-dubai {
    font-family: 'Popins-bold';
    font-size: clamp(30px, 4vw, 50px);

}

.map-img {
    width: 100%;

}

.about-text-below-map {
    background: linear-gradient(to left, #006CFF, #FFFF00);

}

.about-text-below-map .first-para {
    font-family: 'Popins-regular';
    font-size: clamp(20px, 4vw, 25px);
    margin-bottom: 0;

}

.about-text-below-map .second-para {
    font-family: 'Popins-semibold';
    font-size: clamp(20px, 4vw, 25px);
    margin-bottom: 0;

}



/* css of AboutKnow component start here
css of AboutKnow component start here
css of AboutKnow component start here */
.about-main {
    background: linear-gradient(to left, #E2F3FF, #FFFFFF);
    padding-top: 5%;
    padding-bottom: 5%;

}

.about-want-to-know {
    font-family: 'Popins-medium';
    font-size: clamp(16px, 4vw, 18px);
    color: #006CFF;
}

.about-heading {
    font-family: Popins-semibold;
    font-size: clamp(16px, 4vw, 18px);
    color: #000000;

}

.about-team {

    font-family: Popins-regular;
    font-size: clamp(16px, 4vw, 18px);
    color: #000000;

}

.about-hr {
    height: 2px;
    background: linear-gradient(to left, #006CFF, #FFFF00);

}

.about-vision {
    font-family: Popins-semibold;
    font-size: clamp(16px, 4vw, 18px);
    color: #000000;
}


@media (max-width:780px) {


    .frezone-first-button {
        display: flex;
        justify-content: center !important;
    }
}





.about-calc {
    font-family: 'Popins-medium';
    font-size: 1vw;

}

/* css of WeAreBiz component starts here
css of WeAreBiz component starts here
css of WeAreBiz component starts here */

.wearebiz-para-div {
    background: linear-gradient(to left, #006CFF, #FFFF00);

}

.wearebiz-para {
    font-family: Popins-regular;
    font-size: clamp(18px, 4vw, 28px);
    margin-bottom: 0%;
}

.wearebiz-span {
    font-family: Popins-semibold;
}

@media (max-width:748px) {
    .wearebiz-para {
        text-align: center;
    }
}