* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.select-div {

    padding: 5%;
    border-radius: 5px;
}

.LookDubai {

    color: #006CFF;
    font-size:  20px;
    font-family: "Popins-regular";
}

.StartYour {

    font-size: calc(3.6vw + 5px);
    margin: 0%;
}

.BusJo {
    font-family: 'Popins-bold';
    font-size: calc(3.3vw + 5px);
    /* line-height: 48px; */
    margin-bottom: 7%;
}

.Help {
    font-family: 'Popins-regular';
    font-size: clamp(16px, 4vw, 20px);
    color: #000000;

}

.StartJourney-for-grid {
    padding-top: 8%;
}

@media (max-width:700px) {

    .LookDubai {
        font-size: 0.9rem !important;
    }
  

    .BusJo {
        font-size: 1.8rem;
    }
}








/* css of StartJourney component starts here
css of StartJourney component starts here
css of StartJourney component starts here */

.reg-bar {
    background: linear-gradient(to left, #006CFF, #FFFF00);
    margin-top: 1%;
}

.register-para {
    font-family: 'Popins-medium';
    font-size: calc(0.9vw + 4px);


}

.register-para p {
    margin: 0;
}

.register-now {
    font-family: 'Popins-medium';
    font-size: calc(0.7vw + 5px);
}

.register-now a {
    color: white;

}

@media (max-width:700px) {

    .register-para,
    .register-now {
        font-size: 0.9rem;
        text-align: center;
    }

}


/* CSS of WhyUs omponent starts here
CSS of WhyUs omponent starts here
CSS of WhyUs omponent starts here */
.whyus-main {
    /* background: linear-gradient(to left, #006CFF, #FFFF00); */
    background: linear-gradient(to right, rgb(254, 254, 230), rgb(242, 247, 242), rgb(160, 204, 233));

}

.who-are-we {
    font-family: 'Popins-regular';
    font-size: clamp(16px, 4vw, 18px);
    color: #006CFF;


}

.we-r-biz {
    font-family: 'Popins-regular';
    font-size: clamp(20px, 4vw, 38px);
}

.we-r-biz span {
    font-family: 'Popins-semibold';
    font-size: clamp(20px, 4vw, 40px);
}

.who-dec {
    font-family: 'Popins-regular';
    font-size: clamp(16px, 4vw, 18px);
    color: #000000;
    letter-spacing: -0.6px;
}




.whyus-main {
    padding-top: 5%;
    padding-bottom: 5%;
}

.why-btn-span {
    font-size: clamp(16px, 4vw, 18px);

}


.why-btn {
    width: 100%;
    font-family: Popins-medium;
    font-size: clamp(16px, 4vw, 18px);

}





/* css of UAecost component starts here
 css of UAecost component starts here
 css of UAecost component starts here */
.Uae-main {
    padding-top: 6%;
    padding-bottom: 6%;
}

.Uae-how {
    font-family: 'Popins-medium';
    font-size: calc(2vw + 5px);
    margin: 0%;

}

.Uae-setup {
    font-family: 'Popins-bold';
    font-size: calc(2vw + 5px);
}

@media (max-width:700px) {

    .Uae-calc,
    .Uae-help,
    .Uae-how,
    .Uae-setup {
        text-align: center;
    }
}

.bg-linear {
    background: linear-gradient(to left, #006CFF, #FFFF00);
}


/* css of OurServices component starts here
  css of OurServices component starts here
  css of OurServices component starts here */
.OurServices-heading {
    font-family: Popins-regular;
    font-size: clamp(24px, 4vw, 40px);
}

.OurServices-heading span {
    font-family: Popins-semibold;
    font-size: clamp(24px, 4vw, 40px);
}

.services-card-title {
    font-family: Popins-semibold;
    font-size: clamp(20px, 4vw, 26px);
}
.services-card-text{
    font-family: Popins-regular;
    font-size: clamp(16px, 4vw, 18px);
    color: #000000;
}
.services-card-detail{
    font-family: Popins-regular;
    font-size: clamp(16px, 4vw, 18px);   
    background-color: #006CFF;
    color: white;
    text-decoration: none;

}

/* css of free consultation component starts here
    css of free consultation component starts here
    css of free consultation component starts here */

    .freeconst-looking{
        font-size: clamp(18px, 4vw, 22px);
        font-family: Popins-regular;
    }
    .freeconst-get{
        font-size:clamp(22px, 4vw, 38px);
        font-family: Popins-semibold;
    }

.newsletter-input:focus {
    color: white;
}