*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Popins-bold';
    src: url('../assets/Poppins-Bold.ttf'),


}

@font-face {
    font-family: 'Popins-light';
    src: url('../assets/Poppins-Light.ttf'),


}

@font-face {
    font-family: 'Popins-medium';
    src: url('../assets/Poppins-Medium.ttf'),


}
@font-face {
    font-family: 'Popins-regular';
    src: url('../assets/Poppins-Regular.ttf'),


}
@font-face {
    font-family: 'Popins-semibold';
    src: url('../assets/Poppins-SemiBold.ttf'),


}


.top-header-list li a{
   text-decoration: none;
   color: white;
}
.top-header-list{
    list-style: none;   
    margin-bottom: 0px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 1vw;

}
.top-header-list li{
    color: white;
    margin-left: 1%;
     font-size: calc(0.8vw + 5px);
    font-family: Popins-regular;
}
.main-top-header{   
    background: linear-gradient(to left, #006CFF, #FFFF00);
}


@media (max-width: 600px) {  
    .top-header-list {
               font-size: 9px ;               
               justify-content: center !important;
    }
   .top-header-list li{
    margin-left: 8px;
   }
}






/* css HeaderNav component starts here
css HeaderNav component starts here
css HeaderNav component starts here
css HeaderNav component starts here */
.blacklogo{
    width: 90%;
}


.nav-main a{
     font-family: Popins-semibold;  
    width: 180px;
     
}

.cost-calc-btn{
    background-color: #006CFF;
    color: white !important;
}
